<div class="editor-container" [class.focused]="editorService.state().isFocused"
  [class.limit-reached]="editorService.isLimitReached()" [class.readonly]="editorService.config().readOnly">

  @if (!editorService.config().readOnly) {
  <app-editor-toolbar
    [readOnly]="!!editorService.config().readOnly"
    [buttons]="editorService.config().toolbarButtons || []"
    [selectionText]="selectionText"
    [existingLinkUrl]="existingLinkUrl"
    (format)="handleFormat($event)"
    (linkInsert)="handleLinkInsert($event)"
    (linkRemove)="handleLinkRemove()"
    (imageInsertUrl)="handleImageInsertUrl($event)"
    (imageSelectDisk)="handleImageSelectDisk()"
    (linkMenuOpened)="handleLinkMenuOpened()">
  </app-editor-toolbar>
  }
  
  <input type="file" #imageInput style="display: none;" accept="image/*" (change)="onImageSelected($event)">

  <div #editableArea class="editor-textarea" style="border: none; font-family: inherit; font-size: 15px; color: hsl(210, 24%, 16%);"></div>

  <!-- Image Resizer -->
  @if (selectedImageEl) {
  <app-editor-image-resizer
    [selectedImageWidth]="selectedImageWidth"
    [selectedImageHeight]="selectedImageHeight"
    [bubbleTop]="bubbleTop"
    [bubbleLeft]="bubbleLeft"
    [wrapperTop]="wrapperTop"
    [wrapperLeft]="wrapperLeft"
    [wrapperWidth]="wrapperWidth"
    [wrapperHeight]="wrapperHeight"
    [readOnly]="!!editorService.config().readOnly"
    (presetSelected)="handlePresetSelected($event)"
    (widthInput)="handleWidthInput($event)"
    (heightInput)="handleHeightInput($event)"
    (deleteSelected)="handleDeleteSelectedImage()"
    (resizeStarted)="handleResizeStarted($event)">
  </app-editor-image-resizer>
  }

  <!-- Editor Footer -->
  <app-editor-footer
    [charCount]="editorService.charCount()"
    [maxLength]="editorService.config().maxLength"
    [readOnly]="!!editorService.config().readOnly"
    [isLimitReached]="editorService.isLimitReached()"
    [remainingChars]="editorService.remainingChars()"
    (resizeEditorStarted)="startEditorResize($event)">
  </app-editor-footer>
</div>